#primary .card {
    border: none;
}

.text-center p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.rightHand {
    transform: scaleX(-1);
}

.placeholder {
    width: 8vw;
    height: 8vw;
    border-radius: 5px;
    border: 1px dashed gray;
    background-image: url("/img/placeholder.jpg");
    background-size: cover;
}