/* #primary .card {
    border: none;
} */

/* .rounded {
    border: 4px dashed rgb(169, 140, 102);
} */

.text-center p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.rightHand {
    transform: scaleX(-1);
}

.placeholder {
    /* width: 8vw;
    height: 8vw; */
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    background-size: cover;
}

.hold {
    border: solid rgb(58, 67, 74) 4px;
}

.hovered {
    background: #f4f4f4;
    border: 4px dashed #a09191;
}

.v-divider {
    /* margin-left: 5px;
    margin-right: 5px; */
    /* width: 1px; */
    /* height: 100%; */
    border-left: 1px solid rgb(219, 219, 219);
}